.userInfo {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.userProfile {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid black;
}

.userInfoWrapper1 {
    height: 100%;
    max-height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.HaerinWrapper img {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.danielleWrapper img {
    position: absolute;
    top: 30px;
    right: 30px;
}

.userInfoWrapper {
    width: 1000px;
    margin-top: 100px;
}

.userInfo .userProfileImgWrapper {
    display: flex;
    justify-content :space-between;
    align-items: center;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
}

.userInfo .userProfileImgNameWrapper {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

.userInfo .userProfileImgNameWrapper2 {
    display: flex;
}

.userInfo .userProfileImg {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.userInfo .username {
    font-size: 40px;
}

.userInfo .userScoreWrapper {
    color: #808080;
}
.userHub {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.userInfo .userInfoEdit {
    position: relative;
    right: 0;
    margin-right: 100px;
    width: 80px;
    height: 40px;
    background: linear-gradient(to bottom,  var(--default-bg-color2) 50%, var(--default-bg-color) 100%);
}

.userHubWrapper {
    height: min-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userHubTabs {
    width: fit-content;
    height: fit-content;
    background-color: whitesmoke;
    padding: 10px 0px 10px 10px;
    border: 1px solid black;
    border-radius: 15px;
}

.userHubTabs button {
    height: 40px;
    width: 100px;
    margin-right: 20px;
    background: var(whitesmoke);
}

.userHubTabs button.selected {
    background: var(--btn-color-yellow);
    background-image: none;
}

.userFriends {
    /* padding: 10px; */
    width: 100%;
}

.userFriendsSearch {
    padding: 10px 20px 10px 20px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    user-select: none;
    margin-top: 20px;
    margin-left: 20px;
    width: 300px;
}

.userFriendSearchNone {
    margin-top: 22px;
    padding: 10px 20px 10px 20px;
}

.userFriendsSearch:active {
    transform: scale(0.98);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.userFriend {
    display: flex;
    border: 1px solid black;
    height: 100px;
    padding-left: 20px;
    line-height: 100px;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    user-select: none;
}

.userHistory {
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    position: relative;
}

.userFriend .isonline{
    margin-top: 45px;
    margin-right: 5px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    line-height: 100px;
}

.matchday {
    position: absolute;
    left: 20px;
    color: var(--text-gray-color);
}
.matchHistory {
    display: flex;
    line-height: 100px;
    align-items: center;
}

.historyplayer {
    display: flex;
    width: 120px;
    display: flex;
    line-height: 45px;
    height: 45px;
    border: 1px solid black;
    margin: 10px;
    /* background: linear-gradient(to bottom,  var(--default-bg-color2) 50%, var(--default-bg-color) 100%); */
    /* background: linear-gradient(to bottom,  white 20%, #4FFBDF 100%); */
}

.winner {
    background: linear-gradient(to bottom,  white 30%, var(--btn-color-yellow) 100%);
}

.loser {
    background: linear-gradient(to bottom,  white 30%, rgb(195, 195, 195) 100%);
}

.historyplayerself {
    border-radius: 13px 13px 0px 13px;
    margin-right: 10px;
}

.historyplayeropponent {
    border-radius: 13px 13px 13px 0px;
    margin-left: 10px;
}

.historyplayer p {
    margin: auto;
}

.userFriend .online {
    background-color: greenyellow;
    border: 1px solid black;
}

.userFriend .offline {
}

.mymodal .mymodalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mymodal .mymodalbox {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 500px;
    height: fit-content;
    min-height: 300px;
}

.closeWrapper {
    flex: 1;
    display: flex;
    justify-content: end;
}

.closeWrapper button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.contentWrapper {
    flex: 4;
    display: flex;
    justify-content: center;
}

.btnWrapper {
    flex: 1;
}

.userfriendsSerachInput {
    background: white;
    border: 1px solid black;
    height: 50px;
    width: 400px;
}

.userfriendsSerachInput:hover {
    box-shadow: 4px 4px 8px rgba(0, 210, 252, 0.5);
}

.userfriendsSerachInput:focus {
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 210, 252, 0.5);
}